.main
  position: relative

.svg
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 600px

.header
  position: absolute
  width: 100%
  padding: 0.75rem
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 100000

.control-bar.columns
  display: flex
  width: 100%
  margin: -.75rem 0 0 0
  justify-content: space-between
  .column
    display: flex
    align-items: center

.input
  width: 150px
  margin-left: 1rem

.list
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.list-item
  display: flex
  align-items: center
  width: 600px
  padding: 0.25rem
  justify-content: space-around

.molecule-info
  position: absolute
  top: 6rem
  left: 1rem

  .atom
    width: 10px
    height: 10px
    border-radius: 50%
    display: inline-block

  .O
    background-color: #f70007

  .C
    background-color: #2d2d2d

  .H
    background-color: #0734ff

  .F
    background-color: #27f327